
{% load static %}

<html>
  <head>
	  <script src="{% static 'main.js' %}"></script>
	  <link rel="stylesheet" href="{% static 'main.css' %}"/>
	</head>

	<title> ORF 401: Spring 2020 </title>

  <body bgcolor="white" text="black">
    <center>
      <h1 style="font-size:60px;">ridedirs splash page</h1>
      <h2 > "Take a ride with us" </h2>
      
      {% block content %}
      {% endblock %}

      <h1 style="font-size:40px;"> <a href="http://127.0.0.1:8000/rides/">Find your rides!!</h1>
    </center>
  </body>

</head> 

</html>
